<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <!--DB SAP SERV VN-->
    <add key="SAP_Server" value="" />
    <add key="SAP_CompanyDB" value="" />
    <add key="SAP_UserName" value="" />
    <add key="SAP_Password" value="" />
    <add key="SAP_DbUserName" value="" />
    <add key="SAP_DbPassword" value="" />
    <add key="SAP_LicenseServer" value="" />
    <!--Fin-->
    <add key="UserID" value="4ps" />
    <add key="UserPassword" value="1234" />
	  <!--FMCG-->
	  <add key="BkavUser" value="kitchen"/>
	  <add key="BkavPassword" value="1234" />
    <!--DB SAP SERV Kitchen4Ps-->
    <add key="KitchenSAP_Server" value="" />
    <add key="KitchenSAP_CompanyDB" value="" />
    <add key="KitchenSAP_UserName" value="" />
    <add key="KitchenSAP_Password" value="" />
    <add key="KitchenSAP_DbUserName" value="" />
    <add key="KitchenSAP_DbPassword" value="" />
    <add key="KitchenSAP_LicenseServer" value="" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
